.App {

  text-align: center;
}


.container {
  /* display: grid;
  background-color: red;
  height: 700px;
  width: 900px;
  /* grid-template-columns: 133px 133px;
  grid-template-rows: 133px 133px 133px; */

  /* grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 20px;
  column-gap: 20px; */ 
  display: flex;
  flex-direction: column;
  background-color: aqua;
  height: 700px;
  width: 900px;
}

/* .item {
  background-color: aqua;
  height: 122px;
  width: 250px;
} */

header {

  margin-bottom: 50px;
  

}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: rgb(98, 0, 255);
}

.progressbar {
  width: 400px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}